body {
    background-image: url("../image/diego-romeo-AxYVHnRomic-unsplash.jpg");
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.heading{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(246,241,108,1) 0%, rgb(209, 150, 224) 100%);
    background-size: cover; 
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.content{

}

.footer{
    
}